# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
dist-ssr/
build/
out/
.next/
.turbo/
.vite/
.vercel/

# Compiled output
/generated/prisma
**/generated/prisma

# Logs
*.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
coverage/
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Environment variables
.env
.env.*
!.env.example
*.local

# Temp directories
.temp/
.tmp/
*.bak
*.tmp

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
*.tsbuildinfo


.secrets
pnpm-install-verfication.log
pnpm-install.log
pnpm-lock.yaml
pnpm-workspace.yaml
